<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>双向视频DEMO</title>
    <style>
        video{
            height: 240px;
        }
        .logger{
            width: 40%;
            height: auto;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px dotted #ccc;
            background: #fff;
            word-break: break-all;
        }
        .logger h5,
        .logger p{
            font-size: 12px;
            margin: 0;
        }
        .remote-block{
            display: none;
        }
        .actions{
            padding: 4px 0;
            display: none;
        }
    </style>
</head>
<body>
<div class="local-block">
    本地视频:
    <br>
    <video id="localVideo" autoplay playsinline="playsinline"></video>
    <div class="actions" id="actions">
        <button id="btn-enter">进入房间</button>
        <button id="btn-record" disabled>开始录制</button>
        <button id="btn-record-over" disabled>录制结束</button>
    </div>
</div>
<div class="remote-block" id="remoteDiv">
    远程视频:
    <br>
    <video id="remoteVideo" autoplay playsinline="playsinline"></video>
</div>
<script src="/release/resource/js/emrtc.main.js"></script>
</body>
</html>